.fader:vertical {
	-fx-pref-height: 512;
}

.fader:horizontal {
	-fx-pref-width: 512;
}

.fader > .track {
	-fx-padding: 4;
}

.fader > .thumb {
	-fx-base: #333;
}

.fader > .thumb:hover {
	-fx-base: #666;
}

.fader:touched {
	-fx-base: -fx-focus-color;
}

.fader:vertical > .thumb {
	-fx-padding: 32 16 32 16;
}

.fader:horizontal > .thumb {
	-fx-padding: 16 32 16 32;
}

.fader > .thumb:pressed {
    -fx-color: -fx-pressed-base;
}

.fader:focused > .thumb {
    -fx-effect: dropshadow(three-pass-box , -fx-focus-color, 3, 0.67, 0, 0);
}

.fader:disabled {
    -fx-opacity: 0.4;
}

.fader > .thumb {
    -fx-background-radius: 6, 5, 2;
}

.fader:vertical > .thumb {
    -fx-background-color:
        beige,
        linear-gradient(to bottom, derive(-fx-text-box-border, -20%) 0%, derive(-fx-text-box-border, -40%) 15%, derive(-fx-text-box-border, 40%) 50%, derive(-fx-text-box-border, -40%) 85%, derive(-fx-text-box-border, -20%) 100%),
        beige;
    -fx-background-insets: 0, 1, 31 2 31 2;
}

.fader:horizontal > .thumb {
    -fx-background-color:
        beige,
        linear-gradient(to right, derive(-fx-text-box-border, -20%) 0%, derive(-fx-text-box-border, -40%) 15%, derive(-fx-text-box-border, 40%) 50%, derive(-fx-text-box-border, -40%) 85%, derive(-fx-text-box-border, -20%) 100%),
        beige;
    -fx-background-insets: 0, 1, 2 31 2 31;
}

.fader > .track {
      -fx-background-color:
          -fx-shadow-highlight-color,
          linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
          linear-gradient(to bottom,
            derive(-fx-control-inner-background, -9%),
            derive(-fx-control-inner-background, 0%),
            derive(-fx-control-inner-background, -5%),
            derive(-fx-control-inner-background, -12%)
          );
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}
.fader:vertical > .track {
    -fx-background-color:
          -fx-shadow-highlight-color,
          -fx-text-box-border,
          linear-gradient(to right,
            derive(-fx-control-inner-background, -9%),
            -fx-control-inner-background,
            derive(-fx-control-inner-background, -9%)
          );
}
