.bar-meter {
	main-color: #00cf95;
	warn-color: #ffff80;
	clip-color: #f66;
	/* -fx-background-color: linear-gradient(to bottom, derive(clip-color, -60%) 0%, derive(warn-color, -60%) 20%, derive(main-color, -60%) 40%); */
	-fx-background-color: #444;
}

.bar-meter:vertical > .bar,
.bar-meter:vertical > .peak {
	-fx-background-color: linear-gradient(to bottom, clip-color 0%, warn-color 20%, main-color 40%);
}

.bar-meter:horizontal > .bar,
.bar-meter:horizontal > .peak {
	-fx-background-color: linear-gradient(to left, clip-color 0%, warn-color 20%, main-color 40%);
}

.bar-meter > .clip {
	-fx-background-color: clip-color;
}